<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>کد تأیید</title>
  <link rel="stylesheet" href="css/auth.css">
</head>
<body>

  <div class="auth-box">
    <h1>کد تأیید</h1>
    <p class="desc" id="otpDesc">کد ۶ رقمی ارسال شد</p>

    <form id="otpForm" class="otp-form">
      <div class="inputs">
        <input class="otp" maxlength="1">
        <input class="otp" maxlength="1">
        <input class="otp" maxlength="1">
        <input class="otp" maxlength="1">
        <input class="otp" maxlength="1">
        <input class="otp" maxlength="1">
      </div>

      <button type="submit" class="btn">ورود</button>
    </form>
  </div>

  <script src="js/otp.js"></script>
</body>
</html>
